body {
  /* margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(/img/mario-bg.png);
  background-size: 150%; */
  /* background-position: bottom; */
  background-color: #f9faff;
  min-height: 100%;
}
